.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
  padding: 20px;
}

.homepage {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  width: 100%;
  max-width: 250px;
  font-size: 1.2rem;
  padding: 10px 0;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  button {
    font-size: 1rem;
    padding: 8px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 6px 0;
  }
}
